
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #682E80;
}

div {
  color: #682E80;
}

input {
  height: 1.5rem;
  margin: .5rem;
  border-radius: 5px; 
}

.status {
  border-radius: 50%;
  margin: 1rem;
  color: #FFFEF0;

}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: .2rem;
}

button:hover {
  border-color: #682E80;;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #682E80;
    background-color: #FFFEF0;
  }

  button {
    color: lavender;
    background-color: #682E80;
  }
}

/* 
Here are my colors
lavender: #FBF0FF
mint: #F4FFF0
melon: #FFFEF0
plum: #682E80
spring green: #46802E
*/
